@using Marketplace.ViewModels
@model IEnumerable<Marketplace.ViewModels.AdvertisementViewModel>
@{
    var countAds = @Model.Count();
}
<h3>Profile Picture</h3>
<h3>Description</h3>
<a asp-action="Create" asp-controller="Advertisement" class="btn btn-primary mb-4">Create An Advertisement</a> @*this should redirect to CreateAdvertisement view*@

@if (countAds==0)
{
    <h3>You have no advertisements. Consider creating one.</h3>
}
else
{
    <h3>My Advertisements</h3>
    
    <div class="container">
        @for (var i = 0; i < countAds; i+=4) // responsible for the row count, on each row I want exactly 4 elements, after those 4 elements make a new row
        {
            <div class="row">
            @for (var j = 0; j < 4; j++) // I want 4 columns on current row
            {
                @if (i+j==countAds-1 && j==0) // when we have 1 ad on one row, display it a certain way
                {
                    var ad = Model.ElementAt(i+j);

                    <div class="card col-sm-5 border border-primary rounded p-0 mb-3 mx-1">
                        <partial name="_AdvertisementColumnPartial" model=ad />
                    </div>
                    break;
                }

                @if (i+j==countAds) // stop displaying if we've reached the end
                {
                    break;
                }


                //TODO make the buttons of each advertisement work. (you need a view for editing and a view for showing a particular ad, modal for deleting)
                //TODO display advertisement location and category

                var currentAd = Model.ElementAt(i+j);
                <div class="card col-sm border border-primary rounded p-0 mb-3 mx-1">
                <partial name="_AdvertisementColumnPartial" model=currentAd />
                </div>
            }
            </div>
        }
    </div>
    
}