@model Marketplace.ViewModels.CreateAdvertisementViewModel

<form class="form-control border border-primary" method="post" asp-action="Create" asp-controller="Advertisement" enctype='multipart/form-data'>
    <h3 class="text-center mb-3">Create An Advertisement</h3>
    <div class="container">
        <div class="row">
            <div class="card col-sm border border-primary rounded p-0 mb-3 mx-1">
                <img id="mainImage" src="~/plusSign.png" class="card-img" onclick="triggerInputBrowse('mainImageInput')" onmouseover="lowerImageOpacity(this)" onmouseout="increaseImageOpacity(this)">
                <input asp-for="Image" id="mainImageInput" style="display:none" type="file" onchange="readURL(this,'mainImage')" accept="image/jpeg, image/png" class="form-control"/>
                <span class="text-center" asp-validation-for=Image></span>
            </div>
            <div class="card col-sm border border-primary rounded p-0 mb-3 mx-1">
                <img id="firstAdditional" src="~/plusSign.png" class="card-img" onclick="triggerInputBrowse('firstAdditionalInput')" onmouseover="lowerImageOpacity(this)" onmouseout="increaseImageOpacity(this)">
                <input asp-for="AdditionalImages" id="firstAdditionalInput" style="display:none" type="file" onchange="readURL(this,'firstAdditional')" accept="image/jpeg, image/png" class="form-control"/>
            </div>
            <div class="card col-sm border border-primary rounded p-0 mb-3 mx-1">
                <img id="secondAdditional" src="~/plusSign.png" class="card-img" onclick="triggerInputBrowse('secondAdditionalInput')" onmouseover="lowerImageOpacity(this)" onmouseout="increaseImageOpacity(this)">
                <input asp-for="AdditionalImages" id="secondAdditionalInput" style="display:none" type="file" onchange="readURL(this,'secondAdditional')" accept="image/jpeg, image/png" class="form-control"/>
            </div>
            <div class="card col-sm border border-primary rounded p-0 mb-3 mx-1">
                <img id="thirdAdditional" src="~/plusSign.png" class="card-img" onclick="triggerInputBrowse('thirdAdditionalInput')" onmouseover="lowerImageOpacity(this)" onmouseout="increaseImageOpacity(this)">
                <input asp-for="AdditionalImages" id="thirdAdditionalInput" style="display:none" type="file" onchange="readURL(this,'thirdAdditional')" accept="image/jpeg, image/png" class="form-control"/>
            </div>
        </div>
    </div>
    
    <div class="form-group mb-3">
        <label asp-for=Title></label>
        <input class="form-control form-control-lg" asp-for=Title placeholder="Title"/>
        <span asp-validation-for=Title></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for=Description></label>
        <textarea class="form-control" asp-for=Description rows="3" placeholder="Please add description here"></textarea>
        <span asp-validation-for=Description></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for=Price></label>
        <input class="form-control" asp-for=Price placeholder="Price"/>
        <span asp-validation-for=Price></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for=Location></label>
        <input class="form-control" asp-for=Location placeholder="Please enter your location"/>
        <span asp-validation-for=Location></span>
    </div>
    <div class="form-group mb-3">
        <select asp-for="CategoryId" asp-items="@Model.CategoryDropDown" class="form-control">
            <option value=-1>--Select--</option>
        </select>
        <span asp-validation-for=CategoryId class=text-danger></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts
{
    <script>
        function readURL(input,imageId) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload= function (e) {
                
                $('#'+imageId).attr('src', e.target.result);
                
                };

                reader.readAsDataURL(input.files[0]);

            }
        }
    </script>
    <script>
    function lowerImageOpacity(x) {
        x.style.opacity = "0.6";
    }

    function increaseImageOpacity(x) {
        x.style.opacity = "1";
    }

    function triggerInputBrowse(inputId)
    {
        $('#'+inputId).trigger('click');
    }
    </script>
}