@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>By registering you make your email public information. Anybody visiting your profile or advertisement can see it. In addition, you can also add a phone number to be displayed.</p>
