@model Marketplace.ViewModels.AdvertisementViewModel;


<img src="data:image;base64,@Model.ImageInBase64" class="card-img-top">

<div class="card-body text-center">
    <h6 class="card-title">@Model.Title</h6>
</div>
<div class="card-footer text-center ">
    <h6 class="font-s">@Model.Price EUR</h6>
    <button class="btn btn-sm btn-dark">SHOW</button>
    <button class="btn btn-sm btn-warning">EDIT</button>
    <button class="btn btn-sm btn-danger">DELETE</button>
</div>