@model Marketplace.ViewModels.SimplifiedAdvertisementViewModel;

<img src="data:image;base64,@Model.ImageInBase64" class="card-img-top">

<div class="card-body text-center">
    <h6 class="card-title">@Model.Title</h6>
</div>
<div class="card-footer text-center ">
    <h6 class="font-s">@Model.Price EUR</h6>
    <a class="btn btn-sm btn-dark" asp-action="Show" asp-controller="Advertisement" asp-route-id="@Model.Id">SHOW</a>
</div>